<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Página Inicial</title>
</head>

<body>
    <header class="main-header">
        <div class="logotipo">
            <a href="#"><img src="#">logo</a>
        </div>
        <div class="container-form">
            <form action="" method="" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar Serviços" class="search-form_input">
            </form>
            <nav class="nav-left">
                <ul class="left-navbar">
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Equipe</a></li>
                    <li><a href="#">sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Meus Seviços</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-nav">
            <nav class="nav-rigth">
                <ul class="right-navbar">
                    <li><a href="#">Crie sua conta</a></li>
                    <li><a href="#">Entrar</a></li>
                </ul>
            </nav>
        </div>
    </header>