@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&family=Ropa+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
.container-profissionais{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
    background-color: rgba(196, 196, 196, 0.6);
}
.container-fundo{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-shadow: 0px 1px 5px rgb(124, 124, 124);
}
.container-fundo>img{
    width: 100%;
    opacity: 0.5;
}
.container-fundo>span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}
@media(min-width:480px){
    .container-fundo>img{
       height: 25vh;
    }
    .container-fundo>span{
        letter-spacing: 4px;
        font-size: 38px;
    }
}
@media(min-width:768px){
    .container-profissionais{
       padding: 0 0 15px 0;
    }
}
@media(min-width:1600px){
    .container-fundo>img{
        height: 28h;
     }
     .container-fundo>span{
        letter-spacing: 8px;
        font-size: 60px;
    }
}
