<footer>
    <div class="links">
        <ul class="links-lista">
            <li class="links-itens"><a href="#">Equipe</a></li>
            <li class="links-itens"><a href="#">Sobre</a></li>
            <li class="links-itens"><a href="#">Serviços</a></li>
            <li class="links-itens"><a href="#">Contato</a></li>
        </ul>
    </div>

    <div class="rede-sociais">
        <h3 class="rede-titulos">Nossas redes</h3>
        <ul class="redes-lista">
            <li class="redes-itens"><img class="redes-img" src="/img/whatsapp.png" alt=""></li>
            <li class="redes-itens"><img class="redes-img" src="/img/facebook.png" alt=""></li>
            <li class="redes-itens"><img class="redes-img" src="/img/instagram.png" alt=""></li>
        </ul>
    </div>
</footer>