<header class="container-header">
    <div class="content-header">
        <div class="container-logo">
            <a class="logo-link" href="/"><img src="/img/logo_dourado_transparente.png" alt="logotipo"></a>
        </div>
        <div class="container-form">
            <form action="#" method="" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar Serviços" class="search-form_input">
            </form>
            <nav class="nav-bottom">
                <ul class="left-navbar">
                    <li class="nav-left"><a href="#">Equipe</a></li>
                    <li class="nav-left"><a href="#">sobre</a></li>
                    <li class="nav-left"><a href="#">Serviços</a></li>
                    <li class="nav-left"><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
        <div class="container-nav-rigth">
            <nav class="nav-rigth">
                <ul class="cad-log">
                    <li class="nav-cadastro"><a href="/cadastro">Cadastre-se</a></li>
                    <li class="nav-login"><a href="/cadastro">Entrar</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>