<header class="container-header">
    <div class="container-logo">
        <a class="logo-link" href="/"><img src="/img/logo_dourado_transparente.png" alt="logotipo"></a>
    </div>
    <nav class="container-form">
        <ul class="left-navbar">
            <li class="nav-left"><a href="#">Sobre o Salão</a></li>
            <li class="nav-left"><a href="#">Nossa Equipe</a></li>
            <li class="nav-left"><a href="#">Serviços e agendamentos</a></li>
            <li class="nav-left"><a href="#">Depoimentos</a></li>
            <li class="nav-left"><a href="#">Contato</a>
            </li>
        </ul>
    </nav>
</header>