<header class="container-header" id="navbar">
    <div class="container-logo" id="navlogo">
        <a class="logo-link" href="/"><img src="/img/logo_dourado_transparente.png" alt="logotipo"></a>
    </div>
    <nav class="container-form">
        <ul class="left-navbar">
            <li class="nav-left"><a href="#1">Sobre o Salão</a></li>
            <li class="nav-left"><a href="/equipe" target="_blank">Nossa Equipe</a></li>
            <li class="nav-left"><a href="#2">Serviços</a></li>
            <li class="nav-left"><a href="#3">Depoimentos</a></li>
            <li class="nav-left"><a href="#">Agendamentos</a></li>
        </ul>
        <div class="nav-log">
            <a class="cadastro" href="#">Cadastre-se</a>
            <a class="login" href="#"><img class="log-img" src="/img/login-icon-2.jpg" alt="Login">Login</a>

        </div>
        <div class="menu-opc">
            <img src="/img/menu-aberto.png" alt="menu de opções">
        </div>
    </nav>
    <!-- <script>
        var lastScrollTop = 300;
        navbar = document.getElementById("navbar");
        navlogo = document.getElementById("navlogo");
        window.addEventListener("scroll", function() {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.background = "#050505";
                navlogo.style.background = "transparent";
            } else {
                navbar.style.background = "transparent";
                navlogo.style.background = "#075169";
            }
        })
    </script> -->
</header>