<header class="container-header">
    <div class="container-logo">
        <a class="logo-link" href="/"><img src="/img/logo_dourado_transparente.png" alt="logotipo"></a>
    </div>
    <nav class="container-form">
        <ul class="left-navbar">
            <li class="nav-left"><a href="#">Sobre o Salão</a></li>
            <li class="nav-left"><a href="#">Nossa Equipe</a></li>
            <li class="nav-left"><a href="#">Serviços</a></li>
            <li class="nav-left"><a href="#">Contato</a></li>
        </ul>
    </nav>
    <nav class="container-nav-rigth">
        <span>Seja nosso cliente:</span>
        <ul class="cad-log">
            <li class="nav-cadastro"><a href="/cadastro">Cadastrar</a></li>
            <li class="nav-cadastro">|</li>
            <li class="nav-cadastro"><a class="login" href="/cadastro">Entrar</a></li>
        </ul>
    </nav>
</header>