<footer class="container-footer">
    <div class="links">
        <img class="logo-footer" src="/img/logo_preto_dourado_transparente.png" alt="Logo Footer">
        <ul class="links-lista">
            <li class="links-itens"><a href="#">Equipe</a></li>
            <li class="links-itens"><a href="#">Sobre</a></li>
            <li class="links-itens"><a href="#">Serviços</a></li>
            <li class="links-itens"><a href="#">Contato</a></li>
        </ul>
    </div>

    <div class="rede-sociais">
        <span class="rede-titulos">Nossas redes</span>
        <ul class="redes-lista">
            <li class="redes-itens">
                <a class="redes-img" href="#"><img src="/img/whatsapp.png" alt=""></a>
            </li>
            <li class="redes-itens">
                <a class="redes-img" href="#"><img src="/img/facebook.png" alt=""></a>
            </li>
            <li class="redes-itens">
                <a class="redes-img" href="#"><img src="/img/instagram.png" alt=""></a>
            </li>
        </ul>
    </div>
</footer>