<header class="container-header" id="navbar">
    <a id="logo-js" class="container-logo" href="/">
        <img src="/img/logo_dourado_transparente.png" alt="logotipo">
    </a>
    <nav class="container-form">
        <div class="container-search">
            <input id="inputjs" type="search" name="search" id="search">
            <img class="lupa-search" src="/img/lupapesquisa.webp" alt="Barra Pesquisa">
        </div>
        <ul class="left-navbar">
            <li class="nav-left"><a href="#1">Sobre o Salão</a></li>
            <li class="nav-left"><a href="/equipe" target="_blank">Nossa Equipe</a></li>
            <li class="nav-left"><a href="/servicos">Serviços</a></li>
            <li class="nav-left"><a href="#3">Depoimentos</a></li>
            <li class="nav-left"><a href="#">Agendamentos</a></li>
        </ul>
    </nav>
    <nav class="nav-log">
        <a class="cadastro" href="#">Cadastre-se</a>
        <div class="container-log">
            <a class="login" href="#">Login</a>
            <img class="log-img" src="/img/login-icon-2.jpg" alt="Login">
        </div>
    </nav>
    <div class="menu-opc">
        <img src="/img/menu-aberto.png" alt="menu de opções">
    </div>

    <script>
        var lastScrollTop = 100;
        navbar = document.getElementById("navbar");
        navlogo = document.getElementById("navlogo");
        window.addEventListener("scroll", function() {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.background = "#524646";

            } else {
                navbar.style.background = "transparent";

            }
        })
    </script>
</header>