<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

    <body>
            <section class="container-equipe-img"> </section>

            <!-- <section class="container-equipe">
                <ul class="equipe">
                    <li class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                    </li>
                    <li class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                    </li>
                    <li class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                    </li>
                    <li class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                    </li>
                </ul>
            </section> -->

            <section class="container-equipe">
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
            </section>

            <section class="container-equipe">
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
                <div class="equipe">
                    <div class="equipe-lista">
                        <img class="equipe-img" src="/img/modelo1.jpg" alt="">
                        <p class="equipe-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat
                            minus consequuntur eaque modi, odit, illum voluptatum iure
                        </p>
                        <!-- <a href="#"><button>Agendar</button></a> -->
                        <button>Agendar</button>
                    </div>
                </div>
            </section>
    </body>
</html>