<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/service.css' />
    <title> Serviços</title>
</head>

<body>
    <header class="container-headerTwo" id="navbar">
        <a class="container-logo" href="/">
            <img src="/img/logo_dourado_transparente.png" alt="logotipo">
        </a>
        <nav class="container-form">
            <div class="container-search">
                <input type="search" name="search" id="search">
                <img class="lupa-search" src="/img/lupapesquisa.webp" alt="Barra Pesquisa">
            </div>
            <ul class="left-navbar">
                <li class="nav-left"><a href="#1">Sobre o Salão</a></li>
                <li class="nav-left"><a href="/equipe" target="_blank">Nossa Equipe</a></li>
                <li class="nav-left"><a href="#2">Serviços</a></li>
                <li class="nav-left"><a href="#3">Depoimentos</a></li>
                <li class="nav-left"><a href="#">Agendamentos</a></li>
            </ul>
        </nav>
        <nav class="nav-log">
            <a class="cadastro" href="#">Cadastre-se</a>
            <div class="container-log">
                <a class="login" href="#">Login</a>
                <img class="log-img" src="/img/login-icon-2.jpg" alt="Login">
            </div>
        </nav>
        <div class="menu-opc">
            <img src="/img/menu-aberto.png" alt="menu de opções">
        </div>
    </header>

    <main class="container-serviceAll">
        <section class="content-services-cabecalho">
            <span>"Conheça todos os nossos procedimentos"</span>
            <a class="addService" href="/servicos/addService">+ Adicionar</a>
        </section>

        <section class="content-services-main">
            <% allServices.forEach(service => { %>
                <div class="cards-service">
                    <div class="img-card">
                        <img src="/img/massagem.jpg" alt="Serviço Massagem">
                        <p>
                            <%= service.procedimento %>
                        </p>
                    </div>
                    <div class="text-card">
                        <p>
                            <%= service.description %>
                        </p>
                        <a href="#">Agendar</a>
                    </div>
                </div>
                <% })%>
        </section>

    </main>

    <footer class="container-footer">
        <div class="links">
            <img class="logo-footer" src="/img/logo_preto_dourado_transparente.png" alt="Logo Footer">
            <ul class="links-lista">
                <li class="links-itens"><a href="#">Equipe</a></li>
                <li class="links-itens"><a href="#">Sobre</a></li>
                <li class="links-itens"><a href="#">Serviços</a></li>
                <li class="links-itens"><a href="#">Contato</a></li>
            </ul>
        </div>

        <div class="rede-sociais">
            <span class="rede-titulos">Nossas redes</span>
            <ul class="redes-lista">
                <li class="redes-itens">
                    <a class="redes-img" href="#"><img src="/img/whatsapp.png" alt=""></a>
                </li>
                <li class="redes-itens">
                    <a class="redes-img" href="#"><img src="/img/facebook.png" alt=""></a>
                </li>
                <li class="redes-itens">
                    <a class="redes-img" href="#"><img src="/img/instagram.png" alt=""></a>
                </li>
            </ul>
        </div>
    </footer>

</body>

</html>