<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/addService.css">
    <title>Adicionar Serviço</title>
</head>

<body>
    <header class="container-header" id="navbar">
        <div class="container-logo" id="navlogo">
            <a class="logo-link" href="/"><img src="/img/logo_dourado_transparente.png" alt="logotipo"></a>
        </div>
        <nav class="container-form">
            <ul class="left-navbar">
                <li class="nav-left"><a href="#1">Sobre o Salão</a></li>
                <li class="nav-left"><a href="/equipe" target="_blank">Nossa Equipe</a></li>
                <li class="nav-left"><a href="#2">Serviços e agendamentos</a></li>
                <li class="nav-left"><a href="#3">Depoimentos</a></li>
                <li class="nav-left"><a href="#">Contato</a></li>
            </ul>
            <div class="nav-log">
                <a class="cadastro" href="#">Cadastre-se</a>
                <a class="login" href="#"><img class="log-img" src="/img/login-icon-2.jpg" alt="Login">Login</a>

            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="container-fotoAddService">
                <img src="/img/login-icon-2.jpg" alt="Imagem de Serviço">
                <a href="">Adicionar Foto de Serviço</a>
            </div>
            <form action="">
                <label for="procedimento">Nome Procedimento</label>
                <input type="text" name="procedimento" id="procedimento" placeholder="Digite o Nome do Serviço">

                <label for="description">Descrição do Procedimento</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>