<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/stylesheets/cadastro.css">

    <title>Cadastra-se</title>
</head>
<body>
    
    <!--Cabeçalho pagina-->
    <header> 
        <img src="img/logo_preto_dourado_transparente.png" alt="logo Studio JM" width="150"> 
        <nav class = "navbar">      
        
            <ul >
                <li>Voltar</li>
                              
                
            </ul>  
       
    
        </nav>

    </header>

<!--corpo da pagina-->


    
        <h1 id="titulo">Escolha um das opções</h1>
        
        <br>
    

        <form >
            
            <button class="botao" href="/cliente" type="submit">Sou cliente  </button>
            

            <button class="botao" type="submit">Sou Profissional</button>
        
        </form>
  
    
    </body>

</html>