<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/stylesheets/cadastro.css">

    <title>Cadastra-se</title>
</head>
<body>
    
    <!--Cabeçalho pagina-->
    <header> 
        <img src="img/logo_preto_dourado_transparente.png" alt="logo Studio JM" width="150"> 
        <nav class = "navbar">      
        
            <ul >
                <li>Voltar</li>
                              
                
            </ul>  
       
    
        </nav>

    </header>

<!--corpo da pagina-->

    <div id="main-container">
        <h1>Escolha uma das opções</h1>
        <form id="register-form">
            <div class="full-box">
                <input type="submit" id="btn-submit" value="Cliente">
            </div>
            <div class="full-box">
                <input type="submit" id="btn-submit" value="Profissional">
            </div>
            <div class="Full-box">
                <h2>Tem uma conta? <a href='#'>Entre</a></h2>
            </div>
        
        </form>
  
    
    </body>

</html>