<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cliente.css">


    <title>Contato</title>
    
</head>
<body>
    <header> 
        <img src="/img/logo_dourado_transparente.png" alt="logo Studio JM" width="150"> 
        <nav class = "navbar">      
            <ul >
                <li>Voltar</li>
            </ul>
        </nav>
    </header>

    <div id="main-container">
        <h1>Faça seu Contato</h1>
        <form id="register-form">
            <div class="half-box spacing">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu Nome">
            </div>
            
            <div class="full-box">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="seu@email">
            </div>
            <div class="full-box">
                <label>Mensagem e observações</label>
            <br><br>
            <textarea name="Mensagem" id="Mensagem" placeholder="Digite aqui sua mensagem"rows="10" style ="width: 100%"></textarea>                                
            <br>
            </div>
            
            <div class="full-box">
                <input type="submit" id="btn-submit" value="Enviar">
            </div>
        </form>
    </div>
    <footer class="container-footer">
        <div class="links">
            <img class="logo-footer" src="/img/logo_preto_dourado_transparente.png" alt="">
            <ul class="links-lista">
                <li class="links-itens"><a href="#">Equipe</a></li>
                <li class="links-itens"><a href="#">Sobre</a></li>
                <li class="links-itens"><a href="#">Serviços</a></li>
                <li class="links-itens"><a href="#">Contato</a></li>
            </ul>
        </div>
    
        <div class="rede-sociais">
            <h3 class="rede-titulos">Nossas redes</h3>
            <ul class="redes-lista">
                <li class="redes-itens">
                    <a href="#"><img class="redes-img" src="/img/whatsapp.png" alt=""></a>
                </li>
                <li class="redes-itens">
                    <a href="#"><img class="redes-img" src="/img/facebook.png" alt=""></a>
                </li>
                <li class="redes-itens">
                    <a href="#"><img class="redes-img" src="/img/instagram.png" alt=""></a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
