<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <section class="container-carossel">
                <img src="/img/sobrancelhas.jpg" alt="Foto Principal">
                <div class="text-principal">
                    <h1>Studio JM</h1>
                    <p>Estética, Bem Estar & Auto - Estima</p>
                </div>
            </section>

            <section id="1" class="container-sobre">
                <div class="content-text">
                    <h2>Sobre o Salão</h2>
                    <h4>Lorem ipsum dolor, sit amet consectetur elit.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sed itaque modi voluptate illum optio dolorem ratione cumque! Asperiores, suscipit temporibus! Harum odit ducimus quis! A quo quasi provident cum, molestias qui est numquam
                        fugit non vero esse recusandae dignissimos, eveniet ea rem molestiae porro adipisci quaerat amet suscipit vitae sunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem inventore cumque sequi quas sed a facere
                        enim labore quaerat asperiores suscipit illum, delectus aliquam, reiciendis praesentium voluptatem, illo totam perspiciatis.</p>
                </div>
                <div class="content-img">
                    <img src="/img/salao.jpg" alt="sobre o salão">
                </div>
            </section>
            <section id="2" class="container-service">
                <span class="service-span">Serviços</span>
                <ul class="list-service">
                    <li class="content-li-service">
                        <figure class="service-imgs"><img src="/img/massagem.jpg" alt=""></figure>
                        <h2>Massagem</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius.
                        </p>
                        <a class="nav-agend" href="#2">Agendar</a>
                    </li>
                    <li class="content-li-service">
                        <figure class="service-imgs"><img src="/img/manicure.jpg" alt=""></figure>
                        <h2>Manicure</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius.
                        </p>
                        <a class="nav-agend" href="#2">Agendar</a>
                    </li>
                    <li class="content-li-service">
                        <figure class="service-imgs"><img src="/img/escova.jpg" alt=""></figure>
                        <h2>Escova</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius.
                        </p>
                        <a class="nav-agend" href="#2">Agendar</a>
                    </li>
                    <li class="content-li-service">
                        <figure class="service-imgs"><img src="/img/maquiagem.jpg" alt=""></figure>
                        <h2>Maquiagem</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius.
                        </p>
                        <a class="nav-agend" href="#2">Agendar</a>
                    </li>
                </ul>
            </section>

            <section id="3" class="container-depoiments">
                <span class="span-depoiments">Comentários</span>
                <articlce class="content-depoiments">
                    <div class="depoiment-caixa">
                        <h1>Modelo 1</h1>
                        <a class="img-depoiments" href="#3"><img src="/img/modelo1.jpg" alt="depoimento um"></a>
                        <p><strong>Lorem ipsum dolor sit amet elit.</strong> <br>Harum, nobis? Sed reiciendis incidunt quos repellendus, temporibus odit cum ea deserunt explicabo maiores voluptatem velit tempore ut ab nesciunt qui sapiente!adipisicing elit.Harum,
                            nobis? Sed reiciendis incidunt quos repellendus.</p>
                        <a class="link-mais" href="">ver mais...</a>
                    </div>
                    <div class="depoiment-caixa">
                        <h1>Modelo 2</h1>
                        <a class="img-depoiments" href="#3"><img src="/img/modelo2.jpg" alt="depoimento dois"></a>
                        <p><strong>Lorem ipsum dolor sit amet elit.</strong> <br>Harum, nobis? Sed reiciendis incidunt quos repellendus, temporibus odit cum ea deserunt explicabo maiores voluptatem velit tempore ut ab nesciunt qui sapiente!adipisicing elit.Harum,
                            nobis? Sed reiciendis incidunt quos repellendus.</p>
                        <a class="link-mais" href="">ver mais...</a>
                    </div>
                    <div class="depoiment-caixa">
                        <h1>Modelo 3</h1>
                        <a class="img-depoiments" href="#3"><img src="/img/modelo3.jpg" alt="depoimento três"></a>
                        <p><strong>Lorem ipsum dolor sit amet elit.</strong> <br>Harum, nobis? Sed reiciendis incidunt quos repellendus, temporibus odit cum ea deserunt explicabo maiores voluptatem velit tempore ut ab nesciunt qui sapiente!adipisicing elit.Harum,
                            nobis? Sed reiciendis incidunt quos repellendus.
                        </p>
                        <a class="link-mais" href="/documentarios">ver mais...</a>
                    </div>
                </articlce>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>