<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <section class="container-carrossel">
                <div class="carossel-content">
                    <div class="container-imgs-center">
                        <div class="carossel-imgs-center">
                            <a class="img-center-carossel" href="#"> <img src="/img/sobrancelhas.jpg" alt="imagens carrosel"></a>
                        </div>
                    </div>
                    <div class="container-carossel-lateral">
                        <div class="carossel-imgs-lateral">
                            <a class="img-lateral" href="#"><img src="/img/massagem.jpg" alt="img-opcional"></a>
                            <a class="img-lateral" href="#"><img src="/img/massagem.jpg" alt="img-opcional"></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container-sobre">
                <article class="content-sobre">
                    <div class="container-img">
                        <div class="content-img">
                            <a class="img-sobre" href="#"><img src="/img/salao.jpg" alt="imagem salão"></a>
                        </div>
                    </div>
                    <div class="container-sobre-txt">
                        <span class="span-sobre">Sobre - Nossa História</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi earum sapiente error sit laudantium laboriosam eos tenetur, commodi reprehenderit incidunt hic ducimus nesciunt est blanditiis eaque, excepturi praesentium a quae. Accusantium
                            similique provident, eius quis voluptates nam fuga nesciunt aliquid tenetur soluta dolor rem natus facilis odit iste. Sequi exercitationem libero architecto soluta sapiente recusandae ratione iure, quod tempore tenetur? Harum
                            necessitatibus dignissimos saepe excepturi quos ab nulla, expedita dolore illum consectetur et asperiores officiis amet non quibusdam atque impedit. Repellat, aliquam. Autem eum unde accusantium, iste tempora blanditiis distinctio!
                            Iste, dolorum aut. Blanditiis corporis hic similique quos, pariatur amet vel perspiciatis officia illo iusto assumenda officiis, ullam exercitationem obcaecati quaerat, quam rem reprehenderit consequatur? Eos necessitatibus
                            ratione saepe. Recusandae. Earum, alias. Porro perspiciatis maxime enim velit dignissimos exercitationem, maiores non reiciendis facere, repellendus, rerum quae. Adipisci ea sed laudantium sapiente nulla maiores. Quos laboriosam
                            maxime obcaecati unde nemo at! Magnam provident nihil doloremque officiis. Nemo, soluta laudantium. Voluptates laborum sit quibusdam odit sint? Rerum delectus labore asperiores sapiente nihil dolor quibusdam dicta officiis
                            magnam, at deleniti accusamus, animi fuga. Doloremque id provident ad numquam exercitationem quod cum quibusdam accusantium veniam, eligendi illo, mollitia sapiente nobis sequi qui, ex voluptates perspiciatis error facere non
                            fuga itaque. Eveniet, necessitatibus a! Est. Aliquid in iste vel, inventore molestiae quibusdam repudiandae quasi saepe dolorum? Eligendi tenetur asperiores ipsum provident cumque. Harum dolore omnis obcaecati nostrum accusamus
                            vitae ipsum, voluptates recusandae est, eos sapiente.</p>
                    </div>
                </article>
            </section>


            <section class="container-service">
                <article class="service-content">
                    <span class="service-span">Serviços</span>
                    <div class="list-service">
                        <ul>
                            <li class="content-li-service">
                                <a class="service-imgs" href="#"><img src="/img/massagem.jpg" alt=""></a>
                                <h2>Massagem</h2>
                                <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                                </p>
                            </li>
                            <li class="content-li-service">
                                <a class="service-imgs" href="#"><img src="/img/manicure.jpg" alt=""></a>
                                <h2>Manicure</h2>
                                <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                                </p>
                            </li>
                            <li class="content-li-service">
                                <a class="service-imgs" href="#"><img src="/img/escova.jpg" alt=""></a>
                                <h2>Escova</h2>
                                <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                                </p>
                            </li>
                            <li class="content-li-service">
                                <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                                <h2>Maquiagem</h2>
                                <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                                </p>
                            </li>
                        </ul>
                    </div>
                </article>
            </section>
            <section class="container-depoiments">
                <span>Depoimentos</span>
                <articlce class="content-depoiments">
                    <div class="depoiment-img">
                        <h1>Modelo 1</h1>
                        <a href="#"><img src="/img/modelo1.jpg" alt="depoimento um"></a>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Eius ipsam iste quod, fugiat debitis impedit iure deserunt eaque magni atque autem voluptates. Adipisci harum accusantium sit reprehenderit aut! Recusandae, sapiente!</p>
                    </div>
                    <div class="depoiment-img">
                        <h1>Modelo 2</h1>
                        <a href="#"><img src="/img/modelo2.jpg" alt="depoimento dois"></a>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Eius ipsam iste quod, fugiat debitis impedit iure deserunt eaque magni atque autem voluptates. Adipisci harum accusantium sit reprehenderit aut! Recusandae, sapiente!</p>
                    </div>
                    <div class="depoiment-img">
                        <h1>Modelo 3</h1>
                        <a href="#"><img src="/img/modelo3.jpg" alt="depoimento três"></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Harum, nobis? Sed reiciendis incidunt quos repellendus, temporibus odit cum ea deserunt explicabo maiores voluptatem velit tempore ut ab nesciunt qui sapiente! </p>
                    </div>
                </articlce>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>