<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/logCad.css">
    <title>Login e Cadastro</title>
</head>

<body>
    <div class="container">
        <div class="container-login">
            <div class="content-login">
                <div class="caixa-form">
                    <h1 class="log-h1">Login</h1>
                    <form class="content-form-log" action="#">
                        <input class="log-input" type="email" name="email" id="" placeholder="Digite seu E-mail">
                        <input class="log-input" type="password" name="senha" id="" placeholder="Digite sua Senha">
                        <input class="log-submit" type="submit" value="Entrar">
                    </form>
                </div>
                <span>ou conecte-se pelas redes sociais</span>
                <nav class="container-nav-log">
                    <ul>
                        <li>
                            <a class="log-img" href="#"><img src="#" alt="Google"></a>
                        </li>

                        <li>
                            <a class="log-img" href="#"><img src="#" alt="Facebook"></a>
                        </li>
                        <li>
                            <a class="log-img" href="#"><img src="#" alt="Twiter"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container-cadastro">
            <article class="content-cadastro">
                <div class="caixa-form">
                    <h1 class="cad-h1">Cadastre-se</h1>
                    <form class="content-form-cad" action="#">
                        <input class="cad-input" type="text" name="nome" id="" placeholder="Nome">
                        <input class="cad-input" type="text" name="sobrenome" id="" placeholder="Sobrenome">
                        <input class="cad-input" type="email" name="email" id="" placeholder="E-mail">
                        <input class="cad-input" type="password" name="senha" id="" placeholder="Senha">
                        <a href="#">Esquceu sua Senha?</a>
                        <input class="cad-input" type="submit" value="Cadastre-se">

                    </form>
                </div>
                <span>ou Cadastre-se pelas rededs sociais</span>
                <nav class="container-nav-cad">
                    <ul>
                        <li>
                            <a class="cad-img" href="#"><img src="#" alt="Google"></a>
                        </li>

                        <li>
                            <a class="cad-img" href="#"><img src="#" alt="Facebook"></a>
                        </li>
                        <li>
                            <a class="cad-img" href="#"><img src="#" alt="Twiter"></a>
                        </li>
                    </ul>
                </nav>
            </article>
        </div>
    </div>
</body>

</html>