<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/perfilEquipe.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Perfil Profissional</title>
</head>

<body>
    <header class="container-header-profissional" id="navbar">
        <div class="container-logo-profissional" id="navlogo">
            <img src="/img/logo_dourado_transparente.png" alt="logotipo">
        </div>
        <nav class="container-form-profissional">
            <span>Editar Perfil</span>
            <ul class="left-navbar-profissional">
                <li class="nav-left"><a href="#1">Sobre o Salão</a></li>
                <li class="nav-left"><a href="/equipe" target="_blank">Nossa Equipe</a></li>
                <li class="nav-left"><a href="#2">Serviços</a></li>
                <li class="nav-left"><a href="#3">Depoimentos</a></li>
                <li class="nav-left"><a href="#">Agendamentos</a></li>
            </ul>
            <a class="nav-log-profissional" href="#">
                <img class="log-img" src="/img/login-icon-2.jpg" alt="Login">User Profissional
            </a>
            <div class="menu-opcoes-profissional">
                <img src="/img/menu-aberto.png" alt="menu de opções">
            </div>
        </nav>
    </header>

    <main class="main-profissional">
        <div class="container-perfil-profissional">
            <a class="content-perfil-profissional" href="">
                <img src="/img/login-icon-2.jpg" alt="Perfil Profissional">
                <p>Trocar Foto</p>
            </a>
            <div class="nav-perfil-edit">
                <a href="">Meu Perfil</a>
            </div>

        </div>
        <form class="fomr-profissonal" action="#">
            <div class="container-user">
                <div class="input-user">
                    <label for="user">Novo Usuário</label>
                    <input type="text" name="user" id="user">
                </div>
                <div class="input-user">
                    <label for="name">Novo Nome</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input-user">
                    <label for="email">Novo E-mail</label>
                    <input type="text" name="name" id="email">
                </div>
            </div>
            <div class="input-endereco">
                <span>Novo Endereço</span>
                <div class="content-input-endereco">
                    <div class="endereco-input-cep">
                        <label for="cep">CEP</label>
                        <input class="cep" type="number" name="cep" id="cep">
                    </div>
                    <div class="endereco-input-endereco">
                        <label for="endereco">Endereço(bairro, rua, N°)</label>
                        <input class="endereco" type="text" name="endereco" id="endereco">
                    </div>
                </div>
            </div>
            <div class="content-services-atend">
                <div class="atend-service-atend">
                    <span>Tipo de Atendimento</span>
                    <div class="atendi-input">
                        <div class="atend">
                            <label for="domiciliar">Domiciliar</label>
                            <input type="radio" name="atendimento" id="domiciliar">
                        </div>
                        <div class="atend">
                            <label for="salao">Salão</label>
                            <input type="radio" name="atendimento" id="salao">
                        </div>
                    </div>
                </div>
                <div class="atend-service-serviço">
                    <span for="services">Adicionar Serviços</span>
                    <select name="servicos" id="services">
                    <option selected disabled>Selecione</option>
                    <option value="manicure">Manicure</option>
                    <option value="massagem">Massagem</option>
                    <option value="pedicure">Pedicure</option>
                    <option value="maquiagem">Maquiagem</option>
                    <option value="limpeza">Limpeza de Pele</option>
                    <option value="corte">Corte de Cabelo</option>
                </select>
                </div>
                <div class="atend-service-genero">
                    <span for="sexo">Sexo</span>
                    <select name="genero" id="sexo">
                    <option disabled selected>Selecione</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>
                </div>
            </div>

            <div class="content-procedimentos">
                <span>Adicionar fotos de Procedimetos</span>
                <div class="fotos-procedimentos">
                    <img src="/img/login-icon-2.jpg" alt="fotos procedimentos">
                    <label for="fotos">Adicionar Fotos</label>
                    <input type="file" name="fotos" id="fotos" multiple>
                </div>
            </div>
            <div class="button">
                <button type="submit">SALVAR</button>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>