*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica,sans-serif;
    color:black;   
    border:none;
}
/*cabecalho */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2c2c;

}
.navbar{
    align-items: center;
}

li{
    display: inline-block;
    padding: 50px;    
    color: #f1e4e4;
    font-weight: bold;
    font-size: 20px;
}

/*pagina fundo*/

input,label{
    display: block;
    width: 100%;
}
a{
    color:#2a00e6;
}
body{
   
    background-image: url('/img/salao.jpg');
    background-size: cover;
    background-position-y:-150px;
    
}
/*formulario*/

#main-container {
    width:500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#d1cece;
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}
h2{
    text-align: center;
    font-size: 10px;
    color: #6e6767;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
     
}
.full-box{
    flex:1 1 100%;
    position: relative;
}
.half-box{
    flex:1 1 45%;
    position: relative;
}
.spacing{
    margin-right: 2.5%
}
label{
    font-weight: bold;
    font-size: 0.8rem;
}
input{
    border-radius:5px;
    padding: 10px;
    font-size:0.9rem;
    margin-bottom: 40px;
}
select{
    border:3px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    color: #050505;
    
}
input:focus{
    border-color:rgb(188 206 251);
}
input[type="submit"]{
    background-color:#C16906;
    color: #FFF;
    height: 40px;
    cursor: pointer;
}
input[type="submitF"]{
    background-color:#3B5998;
    position: relative;
    text-align: center;
    border: none;
    color:white;
    margin-top: 20px;
    cursor: pointer;
}
input[type="submitG"]{
    background-color:#DB4A39;

    position: relative;
    text-align: center;
    border: none;
    color:white;
    margin-top: 20px;
    cursor: pointer;
}
#agreement{
    margin-right: 5px;
}
#agreement,#agreement-label{
    display:inline-block;
    width:auto;
}
h3{
    font-size: 10px;
    margin-left: 38%;
    
}

/*footer*/

.container-footer {
    display: flex;
    width: 100%;
    height: 170px;
    background-color: #524646;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    
}

.links {
    width: 20%;
    display: flex;
    justify-content: center;
    line-height: 10px;
}

.links-lista {
    border: 1px solid #ccc;
   
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.logo-footer {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    margin-top: 150px;

}

.links-lista a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.rede-sociais {
    /* background-color: blue; */
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
}

.rede-titulos {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}

.redes-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.redes-img {
    width: 31px;
    height: 31px;
    border-radius: 5px;
}










