*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica,sans-serif;
    color:black; 
    border: none;  
   
    
}
/*cabecalho */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;  
    background-color: #524646;  
    opacity: 0.95;
    height: 90px;
}
.navbar{
    margin-top: 5px;

}
li{
    display: inline-block;
    padding: 15px;    
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

/*pagina fundo*/

input,label{
    display: block;
    width: 100%;
}

body{
   
    background-image: url('/img/salao.jpg');
    background-size: cover;
    background-position-y:-150px;
    
}
/*formulario*/

#main-container {
    width:500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

.full-box{
    flex:1 1 100%;
    position: relative;
    margin-bottom: 3%;
}


label{
    font-weight: bold;
    font-size: 0.8rem;
}
input{
    
    padding: 10px;
    font-size:0.9rem;
    margin-bottom: 40px;
}
input:focus{
    border-color:rgb(188 206 251);
}

input[type="submit"]{
    background-color:#C16906;
    color: #FFF;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}
   



/*footer*/
.container-footer {
    display: flex;
    width: 100%;
    height: 170px;
    background-color: #524646;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
  
}

.links {
    width: 20%;
    display: flex;
    justify-content: center;
    line-height: 10px;
}

.links-lista {
    
    gap: 7px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 5px 0px;
   
 
}

.logo-footer {
    width: 160px;
    height: 160px;
    
}

.links-lista a:hover {
    text-decoration: underline;
    border-radius: 5px;
  
}

.rede-sociais {
    /* background-color: blue; */
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
  
}

.rede-titulos {
    text-align: center;
    color: #ffffff;
}

.redes-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.redes-img {
    width: 31px;
    height: 31px;
    border-radius: 5px;
}

