@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&family=Ropa+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    width: 100%;
    /* width: 1440px;
    margin: 0 auto; */
    height: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}


/*----HEADER----*/

.container-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 2px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: 0.4s;
}

.container-logo {
    left: 0;
    height: 120px;
    border-radius: 50%;
    background-color: #050505;
}

.logo-link {
    width: 100%;
    display: flex;
}

.logo-link img {
    width: 100%;
    height: 120px;
}

.container-form .left-navbar {
    display: flex;
    gap: 40px;
    font-weight: bold;
}

.left-navbar .nav-left a {
    color: #ffffff;
    font-size: 14pt;
}

.left-navbar .nav-left a:hover {
    background-color: rgb(218, 216, 216);
    color: rgb(59, 59, 59);
    border-radius: 2px;
}


/*----FIM HEADER----*/


/* INICIO CAROSSEL */

.container-carossel {
    background-image: url("/img/sobrancelhas.jpg");
    width: 100%;
    height: 95%;
    background-repeat: no-repeat;
}


/*----FIM CAROSSEL----*/


/*----INICIO SOBRE----*/

.container-sobre {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 150px;
}

.conter-txt {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.content-text {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-conter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    padding: 0px 40px 0px 40px;
}

.text-conter h2 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    color: #9b6b26;
    padding: 50px 0px 10px 0px;
}

.text-conter h4 {
    padding: 0px 0px 10px 0px;
}

.line-text {
    width: 40%;
    height: 10px;
    background-color: #9b6b26;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
}

.content-img {
    width: 40%;
    height: 70%;
    display: flex;
}

.img-sobre {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    align-self: center;
    box-shadow: 0px 0px 10px 0px rgb(163, 162, 162);
}


/*---- FINAL SOBRE ----*/


/*---INICIO SERVIÇOS----*/

.container-service {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.service-span {
    position: absolute;
    font-size: 30pt;
    font-weight: 800;
    padding-bottom: 20px;
    color: rgb(250, 250, 250);
    background-color: #993300;
    width: 500px;
    height: 140px;
    left: 0;
    top: 50px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #993300;
}

.list-service {
    display: flex;
    width: 95%;
    gap: 20px;
}

.content-li-service {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    padding: 12px 20px;
    text-align: justify;
    box-shadow: 0px 0px 10px 0px rgb(163, 162, 162);
    border-radius: 10px;
    transition: 0.5s;
}

.content-li-service:hover {
    box-shadow: 0px 0px 40px 0px rgb(121, 120, 120);
}

.service-imgs {
    border: 1px solid #930;
    width: 80%;
    height: 40%;
}

.service-imgs img {
    width: 100%;
    height: 100%;
}


/*----FIM SERVIÇOS----*/


/*----Inicio Depoimentos----*/

.container-depoiments {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    margin-top: 30px;
    gap: 35px;
    padding: 0px 20px;
}

.container-depoiments span {
    font-size: 25pt;
    font-weight: bold;
    color: rgb(80, 77, 77);
}

.content-depoiments {
    display: flex;
    gap: 15px;
    width: 98%;
}

.depoiment-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(94, 92, 92);
    padding: 20px 50px;
    gap: 20px;
    border-radius: 10px;
}

.depoiment-img img {
    width: 100%;
    height: 150px;
    border-radius: 30%;
}


/*----Fim Depoimentos----*/

.container-footer {
    display: flex;
    width: 100%;
    height: 190px;
    background-color: #050505;
    align-items: center;
    justify-content: space-around;
}

.links {
    width: 20%;
    display: flex;
    justify-content: center;
    line-height: 24px;
}

.links-lista {
    border: 1px solid #ccc;
    gap: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px 0px;
}

.logo-footer {
    width: 160px;
    height: 160px;
}

.links-lista a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.rede-sociais {
    /* background-color: blue; */
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rede-titulos {
    text-align: center;
    color: #ccc;
}

.redes-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.redes-img {
    width: 31px;
    height: 31px;
    border-radius: 5px;
}


/* Página Equipe */

.container-equipe-img {
    background-image: url("/img/equipe-img-header.jpg");
    width: 150%;
    /* width: 1440px; */
    height: 650px;
    background-repeat: no-repeat;
}

.container-equipe {
    width: 100%;
    /* height: 1000px; */
    background-color: #e9eaeb;
    display: flex;
}

.equipe {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.equipe-lista {
    width: 70%;
    height: 440px;
    background-color: #e0e1e1;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.equipe-img {
    width: 50%;
}

.equipe-texto {
    padding: 20px 20px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 1.5em;
    border: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: rgba(255, 0, 0, 0.796);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #930;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:active {
    box-shadow: 0 0 0 0 #930, inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
}