@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&family=Ropa+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    min-width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}


/*----HEADER----*/

.container-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 8px;
    background-color: #524646;
    box-shadow: 0px 1px 1px #161616;
    z-index: 10;
    gap: 20px;
}

.container-logo {
    width: 70px;
    height: 70px;
    display: flex;
}

.container-logo>a {
    width: 100%;
}

.container-form {
    display: flex;
    align-items: center;
}

.container-search {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container-search>input {
    width: 100%;
    padding: 6px;
}

.lupa-search {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 3px;
    opacity: 0.5;
}

.container-form .left-navbar {
    display: none;
}

.nav-log {
    display: none;
}

.menu-opc {
    width: 38px;
    height: 38px;
    background-color: rgba(224, 225, 225, 0.7);
    border-radius: 5px;
}

.menu-opc>img {
    width: 100%;
    border-radius: 5px;
}


/* fim header*/

.container-carossel {
    display: flex;
    position: relative;
    box-shadow: 0 1px 1px black;
    margin-top: 75px;
}

.container-carossel>img {
    width: 100%;
    height: 175px;
}

.text-principal::before {
    content: " ";
    width: 5px;
    height: 50px;
    left: -10px;
    position: absolute;
    background-color: #c07825;
}

.text-principal {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.text-principal>h1 {
    color: #c07825;
}

.text-principal>p {
    color: #ffffff;
    font-weight: 600;
}


/*fim foto principal*/

.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
    gap: 15px;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding: 25px 0 0 0;
}

.content-text::before {
    content: " ";
    position: absolute;
    width: 120px;
    height: 6px;
    top: 0;
    left: 0;
    background-color: #C16906;
}

.content-text>h2 {
    font-size: 25px;
    font-weight: bold;
    color: #C16906;
}

.content-text>h4 {
    font-size: 12px;
}

.content-text>p {
    text-align: justify;
    font-size: 12px;
}

.content-img {
    width: 280px;
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 1px 1px black;
}

.content-img>img {
    width: 100%;
    border-radius: 2px;
}


/* fim sobre */

.container-service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px;
    position: relative;
}

.container-service>span {
    background-color: #C16906;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 60px;
    border-top-right-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 1px 1px 3px black;
}

.list-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-li-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px 10px 5px;
    gap: 2px;
    box-shadow: 0px 0px 1px black;
}

.content-li-service>p {
    text-align: center;
}

.content-li-service>a {
    background-color: #C16906;
    padding: 6px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.service-imgs {
    border: 1px solid #930;
    width: 210px;
    height: 160px;
    display: flex;
}

.service-imgs img {
    width: 100%;
}


/* fim service */

.container-depoiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 15px;
    position: relative;
}

.container-depoiments>span::before {
    content: " ";
    position: absolute;
    background-color: #C16906;
    width: 50%;
    height: 3px;
    left: -110px;
    bottom: 25px;
}

.container-depoiments>span {
    background-color: #C16906;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 40px;
    border-top-left-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 1px 1px 3px black;
}

.container-depoiments::after {
    content: " ";
    position: absolute;
    background-color: #C16906;
    width: 90%;
    height: 3px;
    left: 15px;
    bottom: 50px;
}

.content-depoiments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.depoiment-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    gap: 5px;
    box-shadow: 0px 0px 1px black;
}

.depoiment-caixa>p {
    text-align: center;
    font-size: 12px;
}

.depoiment-caixa>.link-mais {
    color: rgb(30, 30, 201);
    align-self: flex-start;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.img-depoiments {
    width: 180px;
    height: 150px;
    display: flex;
}

.img-depoiments img {
    width: 100%;
}


/* Página Equipe */

.container-equipe-img {
    background-image: url("/img/equipe-img-header.jpg");
    width: 150%;
    /* width: 1440px; */
    height: 650px;
    background-repeat: no-repeat;
}

.container-equipe {
    width: 100%;
    /* height: 1000px; */
    background-color: #e9eaeb;
    display: flex;
}

.equipe {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.equipe-lista {
    width: 70%;
    height: 440px;
    background-color: #e0e1e1;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.equipe-img {
    width: 50%;
}

.equipe-texto {
    padding: 20px 20px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 1.5em;
    border: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: rgba(255, 0, 0, 0.796);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #930;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:active {
    box-shadow: 0 0 0 0 #930, inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
}

.container-footer {
    display: flex;
    width: 100%;
    height: 190px;
    background-color: #050505;
    align-items: center;
    justify-content: space-around;
}

.links {
    width: 20%;
    display: flex;
    justify-content: center;
    line-height: 24px;
}

.links-lista {
    border: 1px solid #ccc;
    gap: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px 0px;
}

.logo-footer {
    width: 160px;
    height: 160px;
}

.links-lista a:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.rede-sociais {
    /* background-color: blue; */
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rede-titulos {
    text-align: center;
    color: #ccc;
}

.redes-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.redes-img {
    width: 31px;
    height: 31px;
    border-radius: 5px;
}

@media(min-width:480px) {
    .container-header {
        padding: 10px;
    }
    .container-carossel>img {
        height: 280px;
    }
    .text-principal {
        font-size: 20px;
        bottom: 20px;
    }
    .container-sobre {
        padding: 50px 38px 80px 38px;
        gap: 20px;
    }
    .content-text {
        gap: 15px;
    }
    .content-text>h2 {
        font-size: 28px;
    }
    .content-text>h4 {
        align-self: flex-start;
        font-size: 18px;
    }
    .content-text>p {
        font-size: 17px;
    }
    .content-img {
        width: 402px;
    }
    .container-service {
        padding: 120px 20px;
    }
    .container-service>span {
        padding: 35px 85px;
        font-size: 23px;
    }
    .list-service {
        padding: 0 35px;
    }
    .content-li-service {
        padding: 20px;
        gap: 4px;
    }
    .content-li-service>a {
        padding: 10px 15px;
        margin-top: 10px;
        font-size: 16px;
    }
    .container-depoiments {
        padding: 120px 35px;
    }
    .container-depoiments>span::before {
        width: 60%;
        height: 4px;
        left: -180px;
        bottom: 40px;
    }
    .container-depoiments>span {
        padding: 35px 70px;
        font-size: 22px;
    }
    .content-depoiments {
        padding: 5px 20px;
        gap: 15px;
    }
    .depoiment-caixa {
        padding: 15px 20px;
        gap: 15px;
    }
    .depoiment-caixa>p {
        font-size: 14px;
    }
    .container-depoiments::after {
        height: 4px;
        bottom: 70px;
    }
}

@media(min-width:768px) {
    .container-header {
        padding: 15px;
        gap: 30px;
    }
    .container-logo {
        width: 110px;
        height: 110px;
    }
    .container-search>input {
        padding: 10px;
    }
    .lupa-search {
        width: 25px;
        height: 25px;
    }
    .menu-opc {
        width: 50px;
        height: 50px;
    }
    .container-carossel>img {
        height: 480px;
    }
    .text-principal::before {
        width: 10px;
        height: 100px;
        left: -20px;
    }
    .text-principal {
        font-size: 32px;
        bottom: 25px;
        left: 40px;
    }
    .container-sobre {
        padding: 90px 38px 80px 38px;
        gap: 20px;
    }
    .content-text::before {
        width: 170px;
        height: 10px;
        left: 20px;
    }
    .content-text {
        gap: 15px;
        padding: 45px 20px;
    }
    .content-text>h2 {
        font-size: 35px;
    }
    .content-text>h4 {
        align-self: flex-start;
        font-size: 25px;
    }
    .content-text>p {
        font-size: 22px;
    }
    .content-img {
        width: 685px;
    }
    .container-service {
        padding: 200px 5px 170px 5px;
    }
    .container-service>span {
        padding: 60px 150px;
        font-size: 35px;
    }
    .list-service {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        gap: 15px;
    }
    .content-li-service {
        width: 350px;
        padding: 20px;
        gap: 5px;
        box-shadow: 0px 1px 3px black;
    }
    .content-li-service>p {
        font-size: 18px;
    }
    .content-li-service>a {
        padding: 12px 20px;
        margin-top: 10px;
        font-size: 18px;
    }
    .container-depoiments {
        padding: 170px 5px;
    }
    .container-depoiments>span::before {
        width: 70%;
        height: 10px;
        left: -320px;
        bottom: 60px;
    }
    .container-depoiments>span {
        padding: 50px 120px;
        font-size: 30px;
    }
    .content-depoiments {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        gap: 15px;
    }
    .depoiment-caixa {
        width: 350px;
        padding: 15px 20px;
        gap: 15px;
        box-shadow: 0px 1px 3px black;
    }
    .depoiment-caixa>p {
        font-size: 17px;
    }
    .depoiment-caixa>.link-mais {
        font-size: 16px;
    }
    .container-depoiments::after {
        width: 95%;
        height: 10px;
        left: 20px;
        bottom: 100px;
    }
}