<%- include('./partials/header') %>

    <section class="container-carrossel">
        <div class="carossel-imgs-center">
            <a href="#"> <img src="#" alt="imagens carrosel"></a>
        </div>
        <div class="container-carossel-lateral">
            <div class="carossel-imgs-lateral">
                <a class="img-lateral" href="#"><img src="#" alt="img-opcional"></a>
                <a class="img-lateral" href="#"><img src="#" alt="img-opcional"></a>
            </div>
        </div>
    </section>
    </body>

    </html>