<%- include('./partials/header') %>

    <section class="container-carrossel">
        <div class="carossel-content">
            <div class="carossel-imgs-center">
                <a href="#"> <img src="#" alt="imagens carrosel"></a>
            </div>
            <div class="container-carossel-lateral">
                <div class="carossel-imgs-lateral">
                    <a class="img-lateral" href="/"><img src="/img/massagem.jpg" alt="img-opcional"></a>
                    <a class="img-lateral" href="/"><img src="/img/sobrancelhas.jpg" alt="img-opcional"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-service">
        <div class="service-content">
            <span class="service-span">Serviços</span>
            <div class="list-service">
                <ul>
                    <li>
                        <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                    </li>
                    <li>
                        <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                    </li>
                    <li>
                        <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                    </li>
                    <li>
                        <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </body>

    </html>