<%- include('./partials/header') %>

    <section class="container-carrossel">
        <div class="carossel-content">
            <div class="carossel-imgs-center">
                <a class="img-center-carossel" href="#"> <img src="/img/sobrancelhas.jpg" alt="imagens carrosel"></a>
            </div>
            <div class="container-carossel-lateral">
                <div class="carossel-imgs-lateral">
                    <a class="img-lateral" href="#"><img src="/img/massagem.jpg" alt="img-opcional"></a>
                    <a class="img-lateral" href="#"><img src="/img/equipe.jpg" alt="img-opcional"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="container-sobre">
        <div class="container-img">
            <div class="content-img">
                <a class="img-sobre" href="#"><img src="/img/salao.jpg" alt="imagem salão"></a>
            </div>
        </div>
        <div class="container-sobre-txt">
            <span class="span-sobre">Sobre - Nossa História</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit neque saepe qui ipsum error aperiam, magnam cumque? Earum soluta beatae suscipit deserunt molestias nisi obcaecati. Eum praesentium inventore eveniet facilis? Eius officia ipsum
                enim deserunt, soluta at est dignissimos ut possimus nulla molestiae temporibus corrupti in quisquam commodi libero? Aperiam doloremque repellendus cupiditate ab aliquam quod. Fugit sunt quos natus. Debitis expedita eum, eius rem soluta
                deleniti doloribus voluptatibus quos, minus, natus dolorem vero. Quaerat, accusamus blanditiis! Sequi mollitia nihil eos voluptate in nulla. Nostrum molestiae voluptatem eos deleniti distinctio? Beatae accusantium at aut est. Non, suscipit
                voluptatibus. Molestias sequi, libero dolor tempore officia repudiandae ipsa repellendus quasi reprehenderit consequatur mollitia sint fuga vel architecto suscipit accusantium asperiores ad inventore! Quasi, iste. Inventore, cumque. Cumque
                placeat minus quae debitis et libero consequatur atque eius repudiandae culpa necessitatibus iure nobis nulla, perspiciatis consequuntur dicta esse assumenda consectetur. Nesciunt exercitationem aperiam qui.
            </p>
        </div>
    </section>


    <section class="container-service">
        <div class="service-content">
            <span class="service-span">Serviços</span>
            <div class="list-service">
                <ul>
                    <li class="content-li-service">
                        <a class="service-imgs" href="#"><img src="/img/massagem.jpg" alt=""></a>
                        <h2>Massagem</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                        </p>
                    </li>
                    <li class="content-li-service">
                        <a class="service-imgs" href="#"><img src="/img/manicure.jpg" alt=""></a>
                        <h2>Manicure</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                        </p>
                    </li>
                    <li class="content-li-service">
                        <a class="service-imgs" href="#"><img src="/img/escova.jpg" alt=""></a>
                        <h2>Escova</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                        </p>
                    </li>
                    <li class="content-li-service">
                        <a class="service-imgs" href="#"><img src="/img/maquiagem.jpg" alt=""></a>
                        <h2>Maquiagem</h2>
                        <p class="par-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos harum quibusdam esse adipisci eius sequi dolorum veniam dolores architecto aspernatur.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    </body>

    </html>