.main-profissional {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 5px;
}

.container-perfil-profissional {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 2px;
}

.content-perfil-profissional {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    position: relative;
}

.content-perfil-profissional>p {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    background-color: rgba(107, 106, 106, 0.719);
    position: absolute;
    bottom: 0;
    padding: 2px 0;
}

.nav-perfil-edit>::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 90%;
    left: -2%;
    top: 5%;
    background-color: rgb(143, 142, 142);
}

.nav-perfil-edit {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-perfil-edit>a {
    color: rgb(31, 47, 185);
    font-weight: 600;
}

.content-perfil-profissional>img {
    width: 100%;
}


/*inicio form*/

.fomr-profissonal {
    background-color: #C4C4C4;
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.container-user {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-user>label {
    font-weight: 600;
    width: 40%;
    font-size: 20px;
}

.input-user>input {
    width: 55%;
    height: 22px;
    padding: 1px 6px;
}

.input-endereco {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.input-endereco>span {
    font-weight: 600;
    width: 30%;
    font-size: 20px;
}

.content-input-endereco {
    width: 55%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.endereco-input-cep {
    display: flex;
    flex-direction: column;
}

.endereco-input-cep>label {
    font-weight: 600;
    font-size: 16px;
}

.endereco-input-cep>input {
    width: 50%;
    height: 25px;
    padding: 1px 6px;
    font-size: 14px;
}

.endereco-input-endereco {
    display: flex;
    flex-direction: column;
}

.endereco-input-endereco>label {
    font-weight: 600;
    font-size: 15px;
}

.endereco-input-endereco>input {
    width: 100%;
    height: 25px;
    padding: 1px 6px;
    font-size: 14px;
}

.content-services-atend {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.atend-service-atend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atend-service-atend>span {
    font-weight: 600;
    width: 45%;
    font-size: 20px;
}

.atendi-input {
    width: 60%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.atend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.atend>label {
    font-weight: 600;
    font-size: 16px;
}

.atend>input {
    width: 15px;
    height: 15px;
}

.atend-service-serviço {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atend-service-serviço>span {
    font-weight: 600;
    width: 45%;
    font-size: 20px;
}

.atend-service-serviço>select {
    width: 55%;
    height: 28px;
    font-size: 18px;
    font-weight: 600;
}

.atend-service-genero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atend-service-genero>span {
    font-weight: 600;
    width: 45%;
    font-size: 20px;
}

.atend-service-genero>select {
    width: 55%;
    height: 28px;
    font-size: 18px;
    font-weight: 600;
}

.content-procedimentos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-procedimentos>span {
    font-weight: 600;
    width: 40%;
    font-size: 20px
}

.fotos-procedimentos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.fotos-procedimentos>input {
    display: none;
}

.fotos-procedimentos>label {
    background-color: rgba(107, 106, 106, 0.719);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    width: 90%;
    text-align: center;
}

.fotos-procedimentos>img {
    padding: 5px;
    width: 90%;
    border: 1px solid black;
    background-color: #eeeded;
}

.button {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button>button {
    padding: 10px 20px;
    background-color: rgb(62, 156, 62);
    font-weight: 600;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}

@media(min-width:480px) {
    .container-form-profissional {
        width: 60%;
    }
    .menu-opcoes-profissional {
        width: 15%;
    }
    .main-profissional {
        padding: 12px;
        gap: 8px;
    }
    .content-perfil-profissional {
        width: 30%;
    }
    .content-perfil-profissional>img {
        width: 90%;
    }
    .content-perfil-profissional>p {
        padding: 4px 0;
    }
    .fomr-profissonal {
        padding: 10px;
        gap: 15px;
    }
    .input-user>input {
        height: 25px;
        font-size: 16px;
    }
    .endereco-input-endereco>input {
        height: 26px;
    }
    .atend>label {
        font-size: 18px;
    }
    .fotos-procedimentos {
        width: 40%;
    }
    .button>button {
        padding: 15px 25px;
    }
}

@media(min-width:768px) {
    .container-form-profissional>span {
        font-size: 30px;
        width: 50%;
    }
    .menu-opcoes-profissional {
        width: 13%;
    }
    .content-perfil-profissional>p {
        font-size: 22px;
        padding: 8px 0;
    }
    .nav-perfil-edit>a {
        font-size: 24px;
    }
    .fomr-profissonal {
        gap: 25px;
        padding: 15px;
    }
    .container-user {
        gap: 10px;
    }
    .input-user>label {
        font-size: 26px;
    }
    .input-user>input {
        width: 60%;
        height: 38px;
        padding: 1px 8px;
        font-size: 18px;
    }
    .input-endereco>span {
        font-size: 26px;
    }
    .content-input-endereco {
        width: 60%;
        gap: 10px;
    }
    .endereco-input-cep>label {
        font-size: 22px;
    }
    .endereco-input-cep>input {
        height: 40px;
        padding: 0 8px;
        font-size: 19px;
    }
    .endereco-input-endereco>label {
        font-size: 22px;
    }
    .endereco-input-endereco>input {
        height: 40px;
        padding: 0 8px;
        font-size: 19px;
    }
    .content-services-atend {
        gap: 20px;
    }
    .atend-service-atend>span {
        font-size: 26px;
    }
    .atendi-input {
        gap: 20px;
    }
    .atend>label {
        font-size: 25px;
    }
    .atend {
        gap: 5px;
    }
    .atend>input {
        width: 22px;
        height: 22px;
    }
    .atend-service-serviço>span {
        font-size: 26px;
        width: 40%;
    }
    .atend-service-serviço>select {
        width: 60%;
        height: 45px;
        font-size: 22px;
    }
    .atend-service-genero>span {
        font-size: 26px;
        width: 40%;
    }
    .atend-service-genero>select {
        width: 60%;
        height: 45px;
        font-size: 22px;
    }
    .content-procedimentos>span {
        font-size: 28px
    }
    .fotos-procedimentos {
        width: 35%;
    }
    .fotos-procedimentos>label {
        padding: 10px 0;
        font-size: 22px;
    }
    .button>button {
        padding: 25px 35px;
        font-size: 20px;
    }
}

@media(min-width:992px) {
    .container-form-profissional {
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .container-form-profissional>span {
        display: none;
    }
    .left-navbar-profissional {
        display: flex;
        gap: 18px;
    }
    .nav-left>a {
        font-weight: 500;
        font-size: 21px;
    }
    .nav-log-profissional {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #075169;
        padding: 15px 45px 15px 5px;
        position: relative;
        margin-left: 20px;
    }
    .nav-log-profissional>img {
        position: absolute;
        right: 5px;
    }
    .main-profissional {
        padding: 20px;
    }
    .input-user>input {
        height: 45px;
        font-size: 22px;
    }
    .endereco-input-cep>input {
        width: 40%;
        height: 45px;
        padding: 0 15px;
        font-size: 22px;
    }
    .endereco-input-endereco>input {
        height: 45px;
        padding: 0 15px;
        font-size: 22px;
    }
    .atend>label {
        font-size: 28px;
    }
    .atendi-input {
        width: 67%;
        gap: 30px;
        justify-content: flex-start;
    }
    .atend>input {
        width: 24px;
        height: 24px;
    }
    .atend-service-genero>select {
        padding: 0 10px;
    }
    .atend-service-serviço>select {
        padding: 0 10px;
    }
    .fotos-procedimentos {
        width: 30%;
        margin-right: 275px;
    }
    .button>button {
        padding: 25px 45px;
        font-size: 22px;
    }
}

@media(min-width:1200px) {
    .container-form-profissional {
        width: 82%;
        gap: 25px;
    }
    .nav-log-profissional {
        margin-left: 30px;
    }
    .left-navbar-profissional {
        gap: 22px;
    }
    .main-profissional {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .container-perfil-profissional {
        width: 30%;
        flex-direction: column;
        padding: 15px 0 30px 0;
        gap: 40px;
        align-self: flex-start;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .content-perfil-profissional {
        width: 40%;
        padding: 5px;
    }
    .content-perfil-profissional>p {
        font-size: 16px;
        padding: 4px 0;
    }
    .nav-perfil-edit>::before {
        width: 100%;
        height: 2px;
        top: -20%;
    }
    .nav-perfil-edit>a {
        font-size: 18px;
        margin-top: 30px;
    }
    .fomr-profissonal {
        padding: 10px 35px 5px 35px;
        gap: 9px;
        width: 65%;
    }
    .input-user>label {
        width: 30%;
        font-size: 21px;
    }
    .input-user>input {
        width: 62%;
        height: 30px;
        font-size: 18px;
    }
    .input-endereco>span {
        width: 30%;
        font-size: 21px;
    }
    .content-input-endereco {
        width: 62%;
    }
    .endereco-input-cep>label {
        font-size: 18px;
    }
    .endereco-input-cep>input {
        width: 45%;
        height: 32px;
        padding: 0px 8px;
        font-size: 16px;
    }
    .endereco-input-endereco>label {
        font-size: 18px;
    }
    .endereco-input-endereco>input {
        width: 80%;
        height: 32px;
        padding: 0px 8px;
        font-size: 16px;
    }
    .content-services-atend {
        gap: 8px;
    }
    .atend-service-atend>span {
        width: 30%;
        font-size: 21px;
    }
    .atendi-input {
        width: 62%;
    }
    .atend>label {
        font-size: 18px;
    }
    .atend-service-serviço>span {
        width: 30%;
        font-size: 21px;
    }
    .atend>input {
        width: 22px;
        height: 22px;
    }
    .atend-service-serviço>select {
        width: 40%;
        height: 35px;
        margin-right: 150px;
    }
    .atend-service-genero>span {
        width: 30%;
        font-size: 21px;
    }
    .atend-service-genero>select {
        width: 40%;
        height: 35px;
        margin-right: 150px;
    }
    .content-procedimentos>span {
        width: 30%;
        font-size: 21px
    }
    .fotos-procedimentos {
        width: 20%;
        margin-right: 286px
    }
    .fotos-procedimentos>label {
        padding: 10px 0;
        font-size: 12px;
    }
    .button {
        margin: 10px 0;
        display: flex;
        justify-content: flex-end;
    }
    .button>button {
        padding: 12px 20px;
        font-size: 20px;
    }
}