@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

input {
    outline: none;
    border-radius: 2px;
}

.main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    padding: 40px 0;
}

.container-form-cadastro-cliente {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 10px 10px 10px;
    width:30%;
    gap: 10px;
    position: relative;
}
.container-form-cadastro-cliente>h1{
    font-size: 22px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    border: 4px solid rgb(87, 87, 87);
    top: -20px;
    left: -10px;
    padding: 10px 20px;
}
.card-form-cliente {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.half-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.half-box>.label-input-cliente {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.half-box>p{
    color: rgb(212, 91, 91);
}
.label-input-cliente>label{
    font-weight: 600;
    font-size: 20px;
}
.label-input-cliente>input {
    width: 50%;
    font-size: 15px;
    height: 30px;
    padding:2px 5px;
}

.card-form-cliente>h3{
    margin: 10px;
    font-size: 14px;
}
.cadastro-log-cliente{
    color: blue;
}
.full-box-cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-box-cadastro>button{
    background-color: #d38c30;
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    margin-top: 15px;
    transition: all 0.3s;
}
.full-box-cadastro>button:hover{
    cursor: pointer;
    background-color: #633d0b;
    color: white;
}